		</div><!--#site-content-->
		<footer>
			<div class="contentWidth">
				<div class="inlines">
					<div class="inline">
						<div class="item">
							<div class="icon"><a href="tel:+381643363331"><img src="<%=bucket%>/images/callIcon.png"></a></div>
							<div class="note"><a href="tel:+381643363331">064/336-333-1</a></div>
						</div>
						<div class="item">
							<div class="icon"><a href="mailto:info@padelzona.rs"><img src="<%=bucket%>/images/emailIcon.png"></a></div>
							<div class="note"><a href="mailto:info@padelzona.rs">info@padelzona.rs</a></div>
						</div>
						<div class="item">
							<div class="icon"><a href="https://www.google.com/maps/dir//Vojislava+Ili%C4%87a+86,+Beograd+11000/@44.7892638,20.49862,17z/data=!4m18!1m8!3m7!1s0x475a708673ba76ff:0x89bd725886096b3!2sVojislava+Ili%C4%87a+86,+Beograd+11000!3b1!8m2!3d44.7892638!4d20.49862!16s%2Fg%2F11js978wfv!4m8!1m0!1m5!1m1!1s0x475a708673ba76ff:0x89bd725886096b3!2m2!1d20.49862!2d44.7892638!3e2?entry=ttu" target="_blank"><img src="<%=bucket%>/images/locationIcon.png"></a></div>
							<div class="note"><a href="https://www.google.com/maps/dir//Vojislava+Ili%C4%87a+86,+Beograd+11000/@44.7892638,20.49862,17z/data=!4m18!1m8!3m7!1s0x475a708673ba76ff:0x89bd725886096b3!2sVojislava+Ili%C4%87a+86,+Beograd+11000!3b1!8m2!3d44.7892638!4d20.49862!16s%2Fg%2F11js978wfv!4m8!1m0!1m5!1m1!1s0x475a708673ba76ff:0x89bd725886096b3!2m2!1d20.49862!2d44.7892638!3e2?entry=ttu" target="_blank">Vojislava Ilića 86</a></div>
						</div>
					</div>
					<div class="inline">
						<div class="item">
							<div class="note"><a href="https://www.instagram.com/padelzona_sindjelic/" target="_blank">@padelzona_sindjelic</a></div>
							<div class="icon"><a href="https://www.instagram.com/padelzona_sindjelic/" target="_blank"><img src="<%=bucket%>/images/instagramIcon.png"></a></div>
						</div>
						<!--<div class="item">
							<div class="note"><a href="">@padelzona</a></div>
							<div class="icon"><a href=""><img src="/images/tiktokIcon.png"></a></div>
						</div>
						<div class="item">
							<div class="note"><a href="">@padelzona</a></div>
							<div class="icon"><a href=""><img src="/images/facebookIcon.png"></a></div>
						</div>-->
					</div>
				</div>
				<div class="footerContent">
					<div class="copyright">
						&copy; <span id="year"></span> Padel Zona Sinđelić doo | Sva prava zadržana | PIB: 114103821 | MB: 21971723
					</div>
					<script>
						document.getElementById("year").innerHTML = new Date().getFullYear();
					</script>
				</div>
			</div>
		</footer>
		<%- include ("partials/booking") -%>
	</body>
</html>